<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h2>From the personal gym tracker of <%= workout.client ? workout.client.name : "😱"%></h2>
  
</main>

<%- include('../partials/footer') %>