<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <p>From the gym of <%= workout.client ? workout.client.name : "Unknown"%>...</p>
</main>

<%- include('../partials/footer') %>