<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Get PUMPED Tracker!</h1>
  <h2>Why Get Pumped!</h2>
  <p>The inspiriation for this app came from my love of exercise. I have struggled with depression and anxiety most of my life and never really knew how to deal with it. That was until I started working out. Fitness has helped me to overcome my depression and I love the feeling I get walking out of a gym after a crazy workout. The Get PUMPED Tracker will help others to set fitness goals, keep track of their completed workout routines and write any motivational quotes they would like someone else to see! </p>
  <img src="https://thumbs.gfycat.com/LimitedFlickeringCrab-size_restricted.gif">
</main>

<%- include('./partials/footer') %>
