<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Let's Get PUMPED!</h1>
  <h2>Why Get Pumped!</h2>
  <p>Whenever I would feel lost or exhausted with the cards life has been dealing me, I found exercise to be my escape. Being able to put all of your emotions into a solid workout has always left me feeling relaxed, more energized and most importantly, accomplished! Seeing how much more you can do everyday pushes me to go further and maybe this can help you go beyond your limits too!</p>
  <img src="https://thumbs.gfycat.com/LimitedFlickeringCrab-size_restricted.gif">
</main>

<%- include('./partials/footer') %>
