<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <h2>Quotes for Motivation </h2>
  <a href="/quotes/show"><img src="https://assets.rebelmouse.io/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHBpcmVzX2F0IjoxNjY1MDkzMDUxLCJpbWFnZSI6Imh0dHBzOi8vbWVkaWEucmJsLm1zL2ltYWdlP3U9JTJGZmlsZXMlMkYyMDE3JTJGMDElMkYxNSUyRjYzNjIwMDU0NDA4MDYzNzc0MjE2ODg4ODcyMjJfTGVmdE1pbmRsZXNzSG9vcG9lLXNpemVfcmVzdHJpY3RlZC5naWYmaG89aHR0cHMlM0ElMkYlMkZhejYxNjU3OC52by5tc2VjbmQubmV0JnM9NDEyJmg9ZWI1NTJkMDVjYmMwYTFmYTU4ODJmNmI3NThhYjBkYzUwMzY5N2Y1ODdlOTU1MmQ0NjdiOTE3MTg3NTc3MWQwOSZzaXplPTk4MHgmYz0xNTY2NTQxNDI4In0.C8DbaIqIjNepj58tBvb4f85VXtcPtP_69iF0INMXgDk/img.jpg" alt="man flexing in mirror"></a>
</main>

<%- include('../partials/footer') %>